# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
venv/

# Generated data + Spark local artifacts
data/
spark-warehouse/
metastore_db/
derby.log
*.crc
_SUCCESS
checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
